/*main elements*/
body {
	background: #fff;
	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

/*nav bar*/

.navbar-inverse {
  background-color: #24292c;
  border-color: transparent;
}

.navbar-brand {
	background: url('../img/cARTel.png');
	background-repeat: no-repeat;
	width: 147px;
	margin-top: 15px;
}

.navbar {
  border-radius: 0;
}

.navbar-nav {
	margin: 5px 0 0 20px;
}

/* main content / featured */

.featured-text {
	font-size: 1em;
	font-weight: bold;
	margin-top: 1em;
}


.featured-section {
	margin: 10px 0 25px 0;
}

.featured-img {
	margin-top: 20px;
}

/* submission form */

.submission-form {
	margin-top: 40px;
}

/*trending designs*/

.trending-section {
	margin-top: 100px;
}

.trending-spacing .col-md-6 {
	padding: 4px;
	margin: 0;
}

.trending-img {
	margin-bottom: 20px;
}

/*footer*/

.social a {
	color: #fff;
}

.social a:hover {
	color: #1772e8;
	text-decoration: none;
}

footer#footer-social-links {
  	margin: 0px 0px 0px 0px;
  	padding: 0;
}

footer ul li {
	display: block;
  	float: left;
	list-style: none;
  	padding: 0;
  	margin: 0 0 10px 25px;
}

#footer-bottom {
 	border-top: 1px dotted #acacac;
 	margin-top: 30px;
  	padding-top: 10px;
}

.footer-div {
	background: #24292c;
	margin-top: 30px;
}

/*media queries*/

