/*main elements*/
body {
	background: #fcfcfc;
	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

/*nav bar*/

.navbar-inverse {
  background-color: #24292c;
  border-color: transparent;
}

.navbar-brand {
	vertical-align: baseline;
	padding-top: 12px;
}

.navbar {
  border-radius: 0;
}

/* all pages */


/* main content / featured */

h2.featured {
	margin-bottom: 20px;
}

.featured-text {
	font-size: 1em;
	font-weight: bold;
	margin-top: 1em;
}


.featured-section {
	margin: 60px 0 25px 0;
}

.submission-section {
	margin: 60px 0 0 0;
}

.submission-form {
	clear: both;
}

.welcome-msg {
	margin-left: 10px;
}

.glyphicon-heart {
	color: red;
}

.glyphicon-thumbs-up {
	float: right;
	cursor: pointer;
}


/* submission form */

.submission-form {
	margin-top: 40px;
}

.btn-custom {
	color: #fff;
  	text-decoration: none;
  	/*background: #9d0000;*/
  	background: linear-gradient(to top left, #9d0000, #f10101);
  	font-size: 1.2em;
}

.btn-custom:hover {
	color: #fff;
  	background: #9d0000;
}

/*trending designs*/

.trending-section {
	margin-top: 100px;
}

.trending-spacing .col-md-6 {
	padding: 4px;
	margin: 0;
}

.trending-img {
	margin-bottom: 20px;
}

/*footer*/

.social a {
	color: #fff;
}

.social a:hover {
	color: #1772e8;
	text-decoration: none;
}

footer#footer-social-links {
  	margin: 0px 0px 0px 0px;
  	padding: 0;
}

footer ul li {
	display: block;
  	float: left;
	list-style: none;
  	padding: 0;
  	margin: 0 0 10px 25px;
}

#footer-bottom {
 	border-top: 1px dotted #acacac;
 	margin-top: 30px;
 	margin-bottom: 20px;
  	padding-top: 10px;
}

.footer-div {
	background: #24292c;
	margin-top: 30px;
	clear: both;
}

/*media queries*/

.art-images {
	float: left;
    background: #fff;
    border-radius: 2px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 1%;
}

.art-images img {
  	display: block;
}

.gutter-sizer {
  width: 1%;
}

/* Landscape phones and down */
@media (min-width: 480px) { 
	.grid-sizer,
	.art-images {
  		width: 24%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.grid-sizer,
	.art-images {
  		width: 48%;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.grid-sizer,
	.art-images {
  		width: 31.3333%;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
	.grid-sizer,
	.art-images {
  		width: 19%;
	}
}

.my-error-class {
    color: #f10101;  
}
.my-valid-class {
    color: #3093cf; 
}





